.App {
  font-family: Arial, sans-serif;
  margin: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

input, textarea, select, button {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  width: auto;
  background-color: #9FCADF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.task {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.task.completed {
  text-decoration: line-through;
  background-color: #e0ffe0;
}

.notification {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editing input, .editing textarea, .editing select, .editing button {
  width: calc(50% - 20px);
  margin: 5px;
}

.task-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.task-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.task-exit {
  opacity: 1;
  transform: translateY(0);
}

.task-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

body {
  background-color: hsl(200, 50%, 75%); /* Azure cu saturația mărită */
}


.App {
  text-align: center;
}

.App h1 {
  padding: 10px;
  border-radius: 5px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.task-list {
  margin-top: 20px;
}


.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}



.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  color: #000;
}


.react-calendar__tile--now {
  background: #BBFA95;
  color: #000;
}


